body {
    background-color: #F5F7FA; 
    font-family: 'Montserrat', 'Arial';
}
li {
    line-height: 24px;
}

.contenedor-principal {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}


.descripcion{
    margin-bottom: 40px;
}

.descripcion-profesion {
    font-size: 14px;
    font-weight: 700;
}

.parte-lateral{
    background-color: #1E2939;
}
